* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #def7fb;
  /* from https://coolors.co/palettes/trending */
}

#new-game {
  padding: 1rem;
  font-size: 1rem;
  background-color: #2a2c24;
  color: #ffffff;
  border-radius: 20%;
}

#winner-msg {
  color: #5aa9e6;
  font-size: 6vmin;
}

.who-winner {
  height: 120vmin;
  display: flex;
  flex-direction: column-reverse;
  gap: 3.5rem;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

.container {
  height: 70vh;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  gap: 1.6vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box {
  height: 18vmin;
  width: 18vmin;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-radius: 1.5rem;
  border: none;
  font-size: 9vmin;
  color: #f70606;
  background-color: #ffffff;
}

#reset-game {
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #2a2c24;
  color: #ffffff;
  border-radius: 20%;
}
